.movie-card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 135px;
    text-decoration: none;
}

.movie-card>* {
    text-decoration: none;
}

.link, 
.link:visited,
.link:active {
    text-decoration: none;
    color: black;

}

.movie-card__img {
    width: 130px;
    height: 186px;
}

.movie-card__img img {
    width: inherit;
    height: inherit;
}

