.movie-title {
    color: #5a9216;
}

.movie-header {
    background-color: #bdbdbd;
}

.movie-wallpaper {
    border: 3px solid black;
    box-shadow: inset 10px 30px black;
}

.movie-genres {
    gap: 0.5rem;
}

.movie-poster {
    left: 8%;
    top: 35%;
}

.movie-poster > img {
    width: 6.5rem;
}

.btn-success {
    background-color: #8bc34a !important;
    border-color:  #8bc34a !important;
}